<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAPI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="user">
        <img src="image.jpg" alt="">
        <h3 class="name">MYRESTAPI</h3>
        <p class="post">2019/2022</p>
    </div>    
</header>
<div id="menu" class="fas fa-bars"></div>
<section class="home" id="home">
    <h3>WELCOME!</h3>
    <h1>I'M <span>UNDEFINED</span></h1>
    <p>hi selamat datang di my rest api, disini saya menyediakan beberapa fitur yang mungkin akan berguna untuk anda, silahkan gunakan rest ini sesuka kalian</p>        
</section>
<section class="contact" id="contact">
<h1 class="heading"> <span>WALL</span>PAPER</h1>
<li><a href="/api/wallml?apikey=YOUR_APIKEY"><button class="btn">wallml</button></a></li>
    <li><a href="/api/wallrandom?apikey=YOUR_APIKEY"><button class="btn">wallrandom</button></a></li>
    <li><a href="/api/wallcode?apikey=YOUR_APIKEY"><button class="btn">wallcode</button></a></li>
    <li><a href="/api/wallneon?apikey=YOUR_APIKEY"><button class="btn">wallneon</button></a></li>
    <li><a href="/api/wallpubg?apikey=YOUR_APIKEY"><button class="btn">wallpubg</button></a></li>
<h1 class="heading"> <span>TEXT</span>PRO</h1>
    <li><a href="/api/circuit?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">circuit</button></a></li>
    <li><a href="/api/sketch?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">sketch</button></a></li>
    <li><a href="/api/halloween?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">halloween</button></a></li>
    <li><a href="/api/rainbow?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">rainbow</button></a></li>
    <li><a href="/api/scfi?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">scfi</button></a></li>
    <li><a href="/api/blue?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">blue</button></a></li>
    <li><a href="/api/juice?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">juice</button></a></li>
    <li><a href="/api/purple?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">purple</button></a></li>
    <li><a href="/api/toxic?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">toxic</button></a></li>
    <li><a href="/api/peridot?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">peridot</button></a></li>
    <li><a href="/api/metal?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">metal</button></a></li>
    <li><a href="/api/realistic?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">realistic</button></a></li>
    <li><a href="/api/impressive?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">impressive</button></a></li>
    <li><a href="/api/cracked?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">cracked</button></a></li>
    <li><a href="/api/magma?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">magma</button></a></li>
    <li><a href="/api/thunder?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">thunder</button></a></li>
    <li><a href="/api/berry?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">berry</button></a></li>
    <li><a href="/api/transformer?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">transformer</button></a></li>
    <li><a href="/api/horror?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">horror</button></a></li>
    <li><a href="/api/metallic?text=yourtext&apikey=YOUR_APIKEY"><button class="btn">metallic</button></a></li>
<h1 class="heading"> <span>RAN</span>DOM</h1>
    <li><a href="/api/jumlahangka?text=82732&apikey=YOUR_APIKEY"><button class="btn">jumlahangka</button></a></li>
    <li><a href="/api/jumlahhuruf?text=wwkaisv&apikey=YOUR_APIKEY"><button class="btn">jumlahhuruf</button></a></li>
    <li><a href="/api/besarkecil?text=osjwux&apikey=YOUR_APIKEY"><button class="btn">besarkecil</button></a></li>
    <li><a href="/api/resepmasakan?text=bakso&apikey=YOUR_APIKEY"><button class="btn">resepmasakan</button></a></li>
    <li><a href="/api/katajago?text=cantik&apikey=YOUR_APIKEY"><button class="btn">katajago</button></a></li>
    <li><a href="/api/artimimpi?text=ular&apikey=YOUR_APIKEY"><button class="btn">artimimpi</button></a></li>
    <li><a href="/api/artinama?text=nayla&apikey=YOUR_APIKEY"><button class="btn">artinama</button></a></li>
    <li><a href="/api/kapital?text=osiwmsp&apikey=YOUR_APIKEY"><button class="btn">kapital</button></a></li>
    <li><a href="/api/halah?text=halo&apikey=YOUR_APIKEY"><button class="btn">halah</button></a></li>
    <li><a href="/api/huluh?text=halo&apikey=YOUR_APIKEY"><button class="btn">huluh</button></a></li>
    <li><a href="/api/heleh?text=hallo&apikey=YOUR_APIKEY"><button class="btn">heleh</button></a></li>
    <li><a href="/api/bilangangka?text=9273202&apikey=YOUR_APIKEY"><button class="btn">bilangangka</button></a></li>
    <li><a href="/api/balikangka?text=0274101&apikey=YOUR_APIKEY"><button class="btn">balikangka</button></a></li>
    <li><a href="/api/balikhuruf?text=jaheoxlam&apikey=YOUR_APIKEY"><button class="btn">balikhuruf</button></a></li>
<h1 class="heading"> <span>CAN</span>VAS</h1>
    <li><a href="/api/sadcat?text=Udin&apikey=YOUR_APIKEY"><button class="btn">sadcat</button></a></li>
    <li><a href="/api/facts?text=Udin&apikey=YOUR_APIKEY"><button class="btn">facts</button></a></li>
    <li><a href="/api/pikachu?text=Udin&apikey=YOUR_APIKEY"><button class="btn">pikachu</button></a></li>
    <li><a href="/api/biden?text=Udin&apikey=YOUR_APIKEY"><button class="btn">biden</button></a></li>
    <li><a href="/api/oogway?text=Udin&apikey=YOUR_APIKEY"><button class="btn">oogway</button></a></li>
    <li><a href="/api/gun?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">gun</button></a></li>
    <li><a href="/api/alert?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">alert</button></a></li>
    <li><a href="/api/greyscale?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">greyscale</button></a></li>
    <li><a href="/api/ad?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">ad</button></a></li>
    <li><a href="/api/blur?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">blur</button></a></li>
    <li><a href="/api/uncover?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">uncover</button></a></li>
    <li><a href="/api/invert?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=YOUR_APIKEY"><button class="btn">invert</button></a></li>
<h1 class="heading"> <span>GAM</span>ES</h1>
    <li><a href="/api/tebaklirik?apikey=YOUR_APIKEY"><button class="btn">tebaklirik</button></a></li>
    <li><a href="/api/tebakkimia?apikey=YOUR_APIKEY"><button class="btn">tebakkimia</button></a></li>
    <li><a href="/api/tebakjenaka?apikey=YOUR_APIKEY"><button class="btn">tebakjenaka</button></a></li>
    <li><a href="/api/tebakbendera?apikey=YOUR_APIKEY"><button class="btn">tebakbendera</button></a></li>
    <li><a href="/api/tebakgambar?apikey=YOUR_APIKEY"><button class="btn">tebakgambar</button></a></li>
    <li><a href="/api/caklontong?apikey=YOUR_APIKEY"><button class="btn">caklontong</button></a></li>



</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>